
body {
  margin: 0;
  font-family: 'Montserrat';
}

.div1, .div2, .div3 {
  height: 100vh;
}
.div1 {
  background: pink;
}
.div2 {
  background: salmon;
}
.div3 {
  background: sandybrown
}
.square {
  width: 150px;
  height: 200px;
  background: blueviolet;
}
.square2 {
  width: 150px;
  height: 200px;
  background: green;
}
.red {
  background: red;
}